#movie-list {
  padding: 0;
  margin: 20px 0;
}

#movie-list li {
  padding: 10px;
  margin-bottom: 5px;
  list-style-type: none;
  cursor: pointer;
  background-color: #f0f0f0;
}

body.dark {
  background-color: #000000;
  color: #ffffff;
}

body.dark #movie-list li {
  background-color: #cfb5c2;
  color: #ffffff;
}

#movie-list li.watched {
  text-decoration: line-through;
  color: #000000;
  background-color: #aa2c71;
}

body.dark #movie-list li.watched {
  background-color: #aa2c71;
  color: #ffffff;
}
